.evening-body-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--space);

  > h1 {
    text-align: center;
    font-size: 1em;
    margin: 0;
    padding-bottom: var(--space);
    padding-top: var(--space);
  }

  .card + .card {
    border-top: 1px solid var(--border-color);
  }

  .button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    max-height: 450px;
    min-height: 450px;
    overflow-y: auto;
  }

  .habit-button.selected {
    background-color: var(--selected-color);
  }

  .habit-button {
    width: 100%;
    padding: var(--space);
    background-color: var(--button-color);
    border-radius: var(--border-radius);
    font-size: 1rem;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }

  .habit-button:hover {
    background-color: var(--selected-color);
  }

  .add-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    width: 100%;
  }

  .add-button {
    width: 100%;
    height: 47px;
    background-color: var(--dark-color);
    border-radius: var(--border-radius);
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }

  .add-button:hover {
    background-color: var(--selected-color);
  }

  .save-button {
    padding: var(--space);
    background-color: var(--dark-color);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    color: #ffffff;
    border: none;
    cursor: pointer;
  }

  .save-button:hover {
    background-color: var(--selected-color);
  }

  .top-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: var(--space);
    padding-bottom: var(--space);
  }

  .mode-button,
  .submit-button {
    padding: 12px;
    background-color: var(--dark-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    border-radius: var(--border-radius);
  }

  .mode-button:hover,
  .submit-button:hover {
    background-color: var(--selected-color);
  }
}
