.evening-body-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 var(--space);
  max-height: calc(100vh - 114px);
  overflow-y: auto;

  .top-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: var(--space);
    padding-bottom: var(--space);

    .mode-button,
    .submit-button {
      padding: 12px;
      background-color: var(--dark-color);
      color: var(--text-color);
      border: none;
      cursor: pointer;
      font-size: 1.25rem;
      border-radius: var(--border-radius);
    }

    @media (hover: hover) {
      .mode-button:hover,
      .submit-button:hover {
        background-color: var(--selected-color);
      }
    }
  }

  .test-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    .timer-button {
      padding: 12px;
      background-color: var(--dark-color);
      color: var(--text-color);
      border: none;
      cursor: pointer;
      font-size: 1.25rem;
      border-radius: var(--border-radius);
    }

    .timer-button.started {
      background-color: rgb(99, 0, 0);
    }

    @media (hover: hover) {
      .timer-button:hover {
        background-color: var(--selected-color);
      }
    }

    & div {
      font-weight: bold;
      & span {
        font-weight: normal;
      }
    }

    .downloadCSV-link {
      padding: 12px;
      background-color: var(--dark-color);
      color: var(--text-color);
      border: none;
      cursor: pointer;
      font-size: 1rem;
      border-radius: var(--border-radius);
    }
  }

  .habit-container {
    padding-bottom: 80px;
    > h1 {
      text-align: center;
      font-size: 1em;
      margin: 0;
      padding-bottom: var(--space);
      padding-top: var(--space);
    }
  }

  .habit-body.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: auto;

    .habit-slider-container {
      width: 100%;
      border: none;
      cursor: pointer;

      .habit-slider {
        width: 60%;
        padding: var(--space);
        border: none;
        cursor: pointer;
        font-size: 1rem;
        color: #ffffff;
        background-color: var(--button-color);
        border-radius: var(--border-radius);
        transition: 0.2s;
      }

      .habit-slider.selected {
        background-color: var(--selected-color);
        margin-left: 40%;
      }
      .habit-slider.deleting {
        background-color: rgba(255, 0, 0, 0.1);
        margin-left: 0;
        width: 100%;
      }
    }
  }

  .habit-body.multi {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    overflow-y: auto;

    .habit-button {
      width: 100%;
      padding: var(--space);
      background-color: var(--button-color);
      border-radius: var(--border-radius);
      font-size: 1rem;
      color: #ffffff;
      border: none;
      cursor: pointer;
    }

    .habit-button.selected {
      background-color: var(--selected-color);
      color: white !important;
    }

    .habit-button.deleting {
      background-color: rgba(255, 0, 0, 0.1);
    }
  }

  .save-button {
    padding: var(--space);
    background-color: var(--dark-color);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    color: #ffffff;
    border: none;
    cursor: pointer;
  }

  @media (hover: hover) {
    .save-button:hover {
      background-color: var(--selected-color);
    }
  }

  .buttonContainer {
    position: fixed;
    left: 5%;
    bottom: 50px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 10px;

    .addCustomHabitButton {
      width: 90%;
      height: 50px;
      background-color: var(--dark-color);
      border-radius: var(--border-radius);
      color: #ffffff;
      border: none;
      cursor: pointer;
      margin: 10px 0;
    }

    .addCustomHabitText {
      width: 100%;
      display: flex;
      align-items: center;
      padding-top: var(--space);
      padding-bottom: var(--space);
    }

    .enterDeleteHabit {
      width: 50px;
      height: 50px;
      background-color: rgb(99, 0, 0);
      border-radius: var(--border-radius);
      color: white;
      border: none;
      cursor: pointer;
      margin: 10px 0;
    }

    .exitDeleteHabit {
      width: 100%;
      height: 50px;
      background-color: rgb(99, 0, 0);
      border-radius: var(--border-radius);
      color: white;
      border: none;
      cursor: pointer;
      margin: 10px 0;
    }
  }
}
