:root {
  --border-color: #ffffff;
  --border-radius: 0.5rem;
  --space: 1rem;
  --text-color: #ffffff;
  --secondary-text-color: #999999;
  --background-color: #343434;
  --dark-color: #1f2f42;
  --bright-color: #f2ac3c;
  --button-color: #3f3f3f;
  --selected-color: #297fb8;
  --bright-selected-color: #ffcf82;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

#main-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--background-color);
  color: var(--text-color);
  justify-content: space-between;
}
