footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  height: 50px;
  border-top: 0.1px solid var(--border-color);

  & .footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    color: var(--bright-color);
    background: none;
    border: none;
    cursor: pointer;
  }

  & .selected {
    background-color: var(--bright-color);
    color: var(--dark-color) !important;
  }
}
