.blog-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-around;
  max-height: calc(100vh - 114px);
  overflow-y: auto;

  .article-card {
    width: 100%;
    margin: var(--space);
    margin-top: 0;
    padding: var(--space);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &:first-child {
      margin-top: var(--space);
    }
  }

  .article-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .article-link {
    color: var(--bright-color);
    text-decoration: none;
  }

  .article-link:hover {
    text-decoration: underline;
  }
}
