.profile-body-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: calc(100vh - 142px);
  overflow-y: auto;

  .profile-image {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: #222222;
  }

  .profile-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space);
    /* overflow: hidden; */
  }

  .profile-name {
    display: flex;
    justify-content: center;
    font-style: italic;
    color: var(--secondary-text-color);
  }

  .profile-email {
    display: flex;
    justify-content: center;
    color: var(--secondary-text-color);
  }

  .profile-button-container {
    display: flex;
    justify-content: space-between;
    padding: 3%;
  }

  .profile-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: var(--button-color);
    width: 29vw;
    padding: 1vh 0 1vh 0;
  }

  .profile-button:hover {
    background-color: var(--selected-color);
  }

  .profile-line-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: var(--space);
  }

  .profile-line-container:hover {
    background-color: var(--selected-color);
  }

  .spacer {
    flex-grow: 1;
    padding: var(--space);
    &.tall {
      display: flex;
      flex-direction: column;

      > div {
        text-align: left;
        color: var(--secondary-text-color);
        font-size: small;
      }
    }
  }

  .button-icon {
    size: 18;
  }

  .line-icon {
    size: 18;
    padding: var(--space);
  }

  .divider-line {
    width: 100%;
    border-bottom: 1px solid var(--button-color);
  }
}
