.login-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: cyan; */
  padding: var(--space);
  max-height: calc(100vh - 114.5px);
  overflow-y: auto;

  form {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
  }

  .logo {
    margin: 8vh 0;
    width: 100px;
    height: 100px;
  }
}
